h1{
    color: #f54245;
    font-size: 100px;
    text-align: center;
}
#main{
    color:#f54245 ;
    font-size: 100px;
    text-align: center;
}
.group1{
    border: 1px solid green;
}
*{
    background-color: rgb(224, 245, 146);
}
h3,h4,h5{
    font-size: 20px;
    text-decoration: underline red;
}
ol li{
    list-style: circle;
}
div>p {
    background-color: aqua;
}
div+p{
    background-color: green;
    color: white;
}
div~p{
    background-color: red;
    font-size: 20px;
}