
#rayan{
    width: 100px;
    height: 100px; 
    background-color: red;
}
#vasu
{
    width: 100px;
    height: 100px;
    background-color:green;
    margin-top: 5px;
    margin-bottom: 5px;
}
#chandran{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-right: 210px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#sarak{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-left: 210px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#babu{
    width: 100px;
    height: 100px;
    background-color: rgb(173, 173, 37);
    margin-bottom: 5px;
}
#trikie{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 183);
    margin-right: 210px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#manavalan{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-right: 425px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#bullet{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 210px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#kannappi{
    width: 100px;
    height: 100px;
    background-color: rgb(54, 54, 165);
    margin-left: 425px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#steve{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-bottom: 5px;
}
#balan{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-right: 210px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#miles{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-right: 425px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#singam{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    margin-right: 640px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#jokey{
    width: 100px;
    height: 100px;
    background-color: darkseagreen;
    margin-left: 210px;
    margin-top: -105px;
    margin-bottom: 5px; 

}
#boboy{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    margin-left: 425px;
    margin-top: -105px;
    margin-bottom: 5px;
}
#bob{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 640px;
    margin-top: -105px;
    margin-bottom: 5px;
}